DEBUG=False
SECRET_KEY=votre-cle-secrete-ici
ALLOWED_HOSTS=apibudig.capslockdev.com,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://apibudig.capslockdev.com
CORS_ALLOW_ALL_ORIGINS=False
# Ajoutez d'autres variables si nécessaire
